* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}


header {
	background-color: #F67280;
	padding: 3%;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

p {
	font-size: 1rem;
}

footer {
	background-color: #006084;
}

 header, main, footer {
	 text-align: center;
 }

 section {
	 padding: 5%;
 }

 footer {
	 font-size: .6125rem;
	 padding: 5%;
 }
